*~
*.pyc
*.stamp-h
Makefile
Makefile.in
/ChangeLog
/COPYING
/INSTALL
/aclocal.m4
/autom4te.cache/
/configure
/config.log
/config.status
/install-sh
/missing
/tools/pycc
/bin/mbcheck
/bin/mbclean
/bin/mbdump
/bin/mbui
/bin/mbrun
/mybackup/sysconf.py
/mybackup/sysconf.sed
/systest/mybackup-systest
/systest/mybackup-systest.conf
/systest/mybackup-systest-common
/systest/mybackup-systest-tools
/systest/test_*
!/systest/test_*.in
/docs/examples/git-backup
/docs/examples/mirror
/docs/src2html
